/*navigation bar*/

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width:14%;
  background-color: white;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  color: #000;
  padding: 10px 16px;
  text-decoration: none;
  font-family: 'Fauna One', serif;
}

li a.active {
  background-color: #d499ff;
}

li a:hover:not(.active) {
  background-color: #f4e6ff;
}

.grid-container {
  display: grid;
  grid-template-columns: 15% 85%;
}

/*body*/ 

p {
  font-family: 'Fauna One', serif;
  font-size: 16px; 
  color:#1a001a; 
  text-align:justify;
  line-height:29px;
}

h1 {
  font-style:italic;
  font-weight:normal;
  font-family: Ubuntu, sans-serif;
  font-size: 35px;
  color:#4d004d;
  text-align:center;
}
